body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;

}
section{
    margin-bottom: 100px;
}
h1{
    font-size: 50px;
}
p{
    margin-bottom: 50px;
}
.orange-color{
    color: orange;
}
.flex{
    display: flex;
   
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 80%;
}
.top-spach{
    margin-top: 180px;
    padding-left: 60px;
}
.link-btn{
    text-decoration: none;
    padding: 10px 40px;
    margin-top: 40px;
    color: white;
    font-size: 40px;
    background-image: linear-gradient(orange,tomato);
    border-radius: 40px;
}
.about-bg{
    background-image: url(image/bg-img.png);
}
.sifat{
    width: 90%;
    padding-left: 100px;
}
.text-center{
    text-align: center;
}
.recipi{
    width: 70%;
   margin-left: 300px;
}
.recipi-item{
    width: 28%;
    margin-left: 4%;
    margin-right: 4%;
    padding: 20px;
    box-shadow: rgb(189, 187, 187) 10px 10px 50px;
    border-radius: 30px;

}
.recipi-item img{
    width: 100%;
    border-radius: 20px;
    height: 330px;
}
.footer-color{
    background-color: rgb(42, 42, 42);
    padding: 20px;
}
footer p{
    color: rgb(246, 245, 245);
}
.gray{
    color: gray;
}